[package]
name = "pingap"
version = "0.8.10"
authors = ["Tree Xie <tree.xie@outlook.com>"]
edition = "2021"
categories = ["network-programming", "web-programming::http-server"]
keywords = ["proxy", "http", "gateway"]
description = "A reverse proxy like nginx"
license = "Apache-2.0"
homepage = "https://github.com/vicanso/pingap"
repository = "https://github.com/vicanso/pingap"
exclude = ["asset/*", "test/*", "Cargo.lock", "web/*", ".github/*", "docs/*"]
readme = "./README.md"
rust-version = "1.74"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
TinyUFO = "0.3.0"
ahash = { version = "0.8.11", default-features = false }
arc-swap = "1.7.1"
async-trait = "0.1.82"
base64 = "0.22.1"
bollard = { version = "0.17.1", default-features = false }
bytes = "1.7.2"
bytesize = { version = "1.3.0", features = ["serde"] }
chrono = { version = "0.4.38", default-features = false, features = [
    "std",
    "clock",
] }
clap = { version = "4.5.18", features = [
    "derive",
    "std",
], default-features = false }
cookie = "0.18.1"
crc32fast = "1.4.2"
crossbeam-channel = "0.5.13"
dhat = { version = "0.3.3", optional = true }
diff = "0.1.13"
dirs = "5.0.1"
etcd-client = "0.14.0"
flate2 = "1.0.34"
futures = "0.3.30"
futures-util = "0.3.30"
glob = "0.3.1"
hex = "0.4.3"
hickory-resolver = "0.24.1"
hmac-sha256 = "1.1.7"
hmac-sha512 = { version = "1.1.5", default-features = false }
hostname = "0.4.0"
http = "1.1.0"
humantime = "2.1.0"
humantime-serde = "1.1.1"
instant-acme = "0.7.1"
ipnet = "2.10.0"
itoa = "1.0.11"
libc = "0.2.158"
local-ip-address = "0.6.3"
memory-stats = { version = "1.2.0", features = ["always_use_statm"] }
mime_guess = "2.0.5"
nanoid = "0.4.0"
nix = { version = "0.29.0", features = ["signal"] }
num_cpus = "1.16.0"
once_cell = "1.19.0"
opentelemetry = { version = "0.24.0", default-features = false, features = [
    "trace",
] }
opentelemetry-http = { version = "0.13.0", default-features = false }
opentelemetry-jaeger-propagator = "0.3.0"
opentelemetry-otlp = { version = "0.17.0", default-features = false, features = [
    "grpc-tonic",
    "trace",
] }
opentelemetry_sdk = { version = "0.24.1", features = [
    "rt-tokio",
], default-features = false }
path-absolutize = "3.1.1"
pingora = { git = "https://github.com/cloudflare/pingora", rev = "51516839f7155dd74d5cf93006ec1df9ea126b11", default-features = false, features = [
    # pingora = { version = "0.3.0", default-features = false, features = [
    "lb",
    "openssl",
    "cache",
] }
pingora-limits = "0.3.0"
pingora-runtime = "0.3.0"
prometheus = { version = "0.13.4", default-features = false }
pyroscope = { version = "0.5.7", optional = true }
pyroscope_pprofrs = { version = "0.2.7", optional = true }
rcgen = "0.13.1"
regex = { version = "1.10.6", default-features = false }
reqwest = { version = "0.12.7", default-features = false, features = [
    "json",
    "default-tls",
] }
rust-embed = { version = "8.5.0", features = [
    "mime-guess",
    "compression",
], default-features = false }
rustc_version_runtime = "0.3.0"
scopeguard = "1.2.0"
sentry = { version = "0.26", default-features = false, optional = true }
serde = "1.0.210"
serde_json = "1.0.128"
sha2 = { version = "0.10.8", default-features = false }
snafu = { version = "0.8.4", features = ["std"], default-features = false }
strum = { version = "0.26.3", features = ["derive"] }
substring = "1.4.5"
sysinfo = { version = "0.31.4", features = [
    "system",
], default-features = false }
tempfile = "3.12.0"
time = { version = "0.3.36", features = ["local-offset"] }
tokio = { version = "1.40.0", default-features = false, features = ["fs"] }
toml = "0.8.19"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = [
    "local-time",
    "json",
    "fmt",
    "ansi",
], default-features = false }
url = "2.5.2"
urlencoding = "2.1.3"
uuid = { version = "1.10.0", features = [
    "v7",
    "std",
    "fast-rng",
], default-features = false }
x509-parser = "0.16.0"

[features]
pyro = ["pyroscope", "pyroscope_pprofrs"]
perf = ["pyro", "dhat"]
tracking = ["sentry", "pingora/sentry"]


[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
pretty_assertions = "1.4.0"
tokio-test = "0.4.4"

[profile.release]
codegen-units = 1
lto = true
strip = "debuginfo"

[profile.release-perf]
inherits = "release"
debug = 1
strip = "none"


[[bench]]
name = "bench"
harness = false
